@mixin Andriod {
  width: 100%;
  min-height: 100%;
  background-color: #f8f8f8;

  color: var(--text-color);
  text-align: center;
}

.Android {
  @include Andriod;

  @media (prefers-color-scheme: dark) {
    background-color: #000;
  }
}

.Android.grey {
  @include Andriod;

  @media (prefers-color-scheme: dark) {
    background-color: #10110b;
  }
}

.Android-title {
  margin: 0.66em 15px 0.34em 15px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
}
